{% extends 'main/base.html' %}

{% block title %}

Sprawdz Osobe

{% endblock %}

{% block content %}
<br><br>
<div class="card">
    <div class="card-header">
        Dane:
    </div>
    <div class="card-text">
        <h2 class="card-title">{{ ksiazka }}</h2>
        <p class="card-text">
        <ul>
            <li>Imie: {{ksiazka.imie}}</li><br>
            <li>Nazwisko: {{ksiazka.nazwisko}}</li><br>
            <li>Telefon: {{ksiazka.telefon}}</li><br>
            <li>Data Dodania: {{ksiazka.data_dodania}}</li><br>
            <li>Data Aktualizacji: {{ksiazka.updated}}</li><br>
        </p>
        </ul>
    </div>
</div>

{% endblock %}
