{% extends 'main/base.html' %}

{% block title %}

Wyszukaj

{% endblock %}

{% block content %}
<br><br>
<div>
<h2> Lista:</h2>
<br>
<table class ="table table-striped table-hover">

    {% for ksiazka in ksiazka_list %}
        <tr>
            <td>
                <a href="{% url 'browsetopic' ksiazka.id %} ">{{ksiazka.nazwisko}} {{ksiazka.imie}} </a> 
            </td>
            <td align="right">
                <a href="{% url 'delete_ksiazka' ksiazka.id %}" class="btn btn-danger">Delete</a>
            
            
                <a href="{% url 'update_ksiazka' ksiazka.id %}" class="btn btn-primary">Update</a>
            </td>
        </tr>
    {% endfor %}

</table>
</div>

{% endblock %}
